@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

.primary-font {
  font-family: "Inter", sans-serif;
}
.secondary-font {
  font-family: "Arima", system-ui;
}



@keyframes category-scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-80%);
  }
}

.animate-category-carousel {
  display: flex;
  animation: category-scroll 3s linear infinite;
}